SimpleServiceClient/src/main/resources/SimpleServiceWrapped.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://ttdev.com/ss"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SimpleService" targetNamespace="http://ttdev.com/ss"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<!-- In SimpleService.wsdl the request and response calls are bind to single objects
		Here we split those single params in multiple params for ease of use in code -->
	<!--  wrapped style -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://ttdev.com/ss"
			xmlns:tns="http://ttdev.com/ss">

			<!-- in original concat = concatRequest -->
			<xsd:element name="concat">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="s1" type="xsd:string"></xsd:element>
						<xsd:element name="s2" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="concatResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="r" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>



	<wsdl:message name="concatRequest">
		<wsdl:part name="concatRequest" element="tns:concat"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="concatResponse">
		<wsdl:part name="concatResponse" element="tns:concatResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SimpleService">
		<wsdl:operation name="concat">
			<wsdl:input message="tns:concatRequest"></wsdl:input>
			<wsdl:output message="tns:concatResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SimpleServiceSOAP" type="tns:SimpleService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="concat">
			<soap:operation soapAction="http://ttdev.com/ss/concat"/>
			<wsdl:input>
				<soap:body parts="concatRequest" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="concatResponse" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SimpleService">
		<wsdl:port name="p1" binding="tns:SimpleServiceSOAP">
			<soap:address location="http://localhost:8080/ss/p1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

	