bizService/src/main/resources/bizServiceTwo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.foo.com/bizServiceTwo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bizServiceTwo"
	targetNamespace="http://www.foo.com/bizServiceTwo/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.foo.com/bizServiceTwo/">
			<xsd:element name="productQuery" type="tns:productQueryComplexType"/>
			<xsd:element name="queryResponse" type="tns:queryResponseComplexType"/>
			<xsd:complexType name="productQueryComplexType">
				<xsd:sequence>
					<xsd:element name="queryItem" maxOccurs="unbounded"
						minOccurs="1">
						<xsd:complexType>
							<xsd:attribute name="productId" type="xsd:string">
							</xsd:attribute>
							<xsd:attribute name="qty" type="xsd:int">
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="queryResponseComplexType">
				<xsd:sequence>
					<xsd:element name="productQueryResult" minOccurs="1" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:attribute name="productId" type="xsd:string">
							</xsd:attribute>
							<xsd:attribute name="price" type="xsd:int">
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryRequest">
		<wsdl:part element="tns:productQuery" name="parameters" />
	</wsdl:message>
	<wsdl:message name="queryResponse">
		<wsdl:part element="tns:queryResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="bizServiceTwo">
		<wsdl:operation name="query">
			<wsdl:input message="tns:queryRequest" />
			<wsdl:output message="tns:queryResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="bizServiceTwoSOAP" type="tns:bizServiceTwo">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="query">
			<soap:operation soapAction="http://www.foo.com/bizServiceTwo/query" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="bizServiceTwo">
		<wsdl:port binding="tns:bizServiceTwoSOAP" name="bizServiceTwoSOAP">
			<soap:address location="http://www.foo.com/bizService/query" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
